@import './base.css';
@import './variaveis.css'; /* Importa as variáveis CSS */

#app {
  max-width: var(--max-width); /* Usando variável para a largura máxima */
  margin: 0 auto;
  padding: var(--padding-medium); /* Padding usando variável */
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: var(--link-color); /* Usando variável para a cor do link */
  transition: 0.4s;
  padding: var(--padding-small); /* Padding usando variável */
}

@media (hover: hover) {
  a:hover {
    background-color: var(--link-hover-bg); /* Usando variável para a cor de fundo do hover */
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Simplificado para usar repeat */
    padding: 0 var(--padding-medium); /* Padding usando variável */
  }
}
