@import './variaveis.css';

.menu-wrapper {
  position: relative;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--primary-color);
    z-index: 1000;
    display: flex;
    align-items: center;
    height: auto;
    box-sizing: border-box;
    padding: 10px;
    transition: transform 0.3s ease;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    height: 130px;
}

/* Logo no canto superior esquerdo */
.logo-container {
  position: absolute;
  top: 10px; /* Ajuste conforme necessário */
  left: 10px; /* Ajuste conforme necessário */
}

.logo {
    height: 120px;
    left: 60px;
    position: relative;}

/* Links de navegação alinhados à metade da altura da logo */
.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 70px;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
}

.menu ul li {
  margin: 10px 0;
}

.menu ul li a {
  color: var(--text-color);
  text-decoration: none;
  padding: 10px;
  font-size: 16px;
  transition: color 0.3s ease;
  font-size: 20px;
  font-weight: 600;
}

.menu ul li a:hover {
  color: var(--highlight-color); /* Ajuste conforme necessário */
}

/* Menu aberto */
.menu.open {
  transform: translateY(0);
}

.menu-button, .close-button {
  font-size: 24px;
  background: none;
  border: none;
  color: var(--text-color);
  cursor: pointer;
  padding: 10px;
}

.menu-button {
  display: block;
}

.close-button {
  display: none;
}

@media (max-width: 768px) {
  .menu {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
  }

  .logo-container {
    position: static;
    margin-bottom: 20px;
  }

  .menu ul {
    margin-left: 0;
    align-items: flex-start;
  }

  .menu.open {
    transform: translateY(0);
  }

  .menu-button {
    display: none;
  }

  .close-button {
    display: block;
  }
}
