/* assets/styles/menu.css */

@import './variaveis.css';

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--primary-color);
    z-index: 1000;
    padding: 10px;
    height: auto;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
}

/* Responsividade para monitores grandes */
@media (min-width: 2560px) {
    .menu a {
        font-size: 24px;
    }
}

/* Responsividade para desktops grandes */
@media (min-width: 1440px) and (max-width: 2560px) {
    .menu a {
        font-size: 20px;
    }
}

/* Responsividade para desktops padrão */
@media (min-width: 1024px) and (max-width: 1440px) {
    .menu a {
        font-size: 18px;
    }
}

/* Responsividade para tablets e notebooks pequenos */
@media (min-width: 768px) and (max-width: 1024px) {
    .menu a {
        font-size: 16px;
    }
}

/* Responsividade para smartphones grandes */
@media (min-width: 480px) and (max-width: 768px) {
    .menu {
        flex-direction: column;
    }
    .menu a {
        font-size: 14px;
    }
}

/* Responsividade para smartphones pequenos */
@media (max-width: 480px) {
    .menu {
        flex-direction: column;
        padding: 20px 0;
    }
    .menu a {
        font-size: 12px;
    }
}
