@import '../styles/variaveis.css';

.menu-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px; /* Altura fixa do menu */
  background: linear-gradient(to left, #305061, var(--primary-color));
  z-index: 1000;
  display: flex;
  align-items: center;
  padding: 0 10px;
  box-sizing: border-box;
}

/* Botão de abrir o menu */
.menu-button {
  font-size: 24px;
  background: none;
  border: none;
  color: var(--text-color);
  cursor: pointer;
  margin-right: 10px;
}

/* Navegação principal */
.menu {
  position: fixed;
  top: 0;
  left: -250px; /* Inicialmente fora da tela */
  width: 250px;
  height: 100vh;
  background: linear-gradient(to left, #305061, var(--primary-color));
  transition: left 0.3s ease;
  padding: 20px;
  box-sizing: border-box;
  z-index: 1001;
}

.menu.open {
  left: 0; /* Abre o menu */
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu ul li {
  margin: 20px 0;
}

.menu ul li a {
  color: var(--text-color);
  text-decoration: none;
  padding: 10px;
  font-size: 20px;
  font-weight: 600;
  display: block;
  transition: color 0.3s ease;
}

.menu ul li a:hover {
  color: var(--highlight-color);
}

/* Botão de fechar o menu */
.close-button {
  font-size: 24px;
  background: none;
  border: none;
  color: var(--text-color);
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1002;
}

/* Ajuste para a largura da logo */
.logo {
  width: 200px; /* Ajuste a largura da logo conforme necessário */
}

/* Responsividade */
@media (max-width: 768px) {
  .menu-wrapper {
    height: 50px;
  }

  .menu-button {
    display: block;
  }

  .close-button {
    display: block;
  }

  .menu {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
  }

  .logo-container {
    position: static;
    margin-bottom: 20px;
  }

  .menu ul {
    margin-left: 0;
    align-items: flex-start;
  }

  .menu.open {
    transform: translateX(0);
  }
}
