:root {
    /* Cores Primárias */
    --primary-color: #519CC7;  /* Cor principal do tema (Menu/Header) */
    --primary-light: #96ABB6; /* Tom mais claro para o footer */
    --primary-dark: #305061;  /* Tom mais escuro para variações */
    --primary-accent: #7AD0FF; /* Cor de destaque/acento (Links Hover) */
    
    /* Cores de Texto */
    --font-color: black; /* Cor do texto principal */
    --header-font-color: white; /* Cor do texto do cabeçalho */
    --footer-font-color: #96ABB6; /* Cor do texto no footer */
    --highlight-color: black; /* Cor de destaque no texto */
    --text-color: black; /* Cor do texto padrão */

    /* Cores de Fundo */
    --background-color: #ffffff; /* Cor de fundo principal */
    --footer-bg-color: #3E4E56; /* Cor de fundo do footer */
    --header-bg-color: #519CC7; /* Cor de fundo do header */

    /* Cores de Bordas */
    --border-color: #dddddd; /* Cor das bordas padrão */
    --input-border-color: #cccccc; /* Cor das bordas de inputs */

    /* Fontes */
    --base-font-size: 16px; /* Tamanho da fonte base */
    --heading-font-size: 24px; /* Tamanho da fonte dos cabeçalhos */
    --small-font-size: 12px; /* Tamanho da fonte para texto pequeno */
    --footer-font-size: 14px; /* Tamanho da fonte no footer */

    /* Espaçamentos */
    --padding-small: 8px; /* Padding pequeno */
    --padding-medium: 16px; /* Padding médio */
    --padding-large: 24px; /* Padding grande */
    --margin-small: 8px; /* Margin pequeno */
    --margin-medium: 16px; /* Margin médio */
    --margin-large: 24px; /* Margin grande */
    
    /* Bordas */
    --border-radius-small: 4px; /* Bordas arredondadas pequenas */
    --border-radius-medium: 8px; /* Bordas arredondadas médias */
    --border-radius-large: 12px; /* Bordas arredondadas grandes */
    
    /* Sombra */
    --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra padrão para caixas */
    
    /* Transições */
    --transition-duration: 0.3s; /* Duração padrão para transições */
    --transition-ease: ease-in-out; /* Tipo de transição */

    /* Footer */
    --background-footer: #3e4e56;
}
